*{
	padding: 0;
	margin: 0;
}

body{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	background-color: #f1c40f;
	-webkit-animation: color 10s ease-in  0s infinite alternate running;
	-moz-animation: color 10s linear  0s infinite alternate running;
	animation: color 10s linear  0s infinite alternate running;
}

/* Animasi + Prefix untuk browser */
@-webkit-keyframes color {
    0% { background-color: #f1c40f; }
    32% { background-color: #e74c3c; }
    55% { background-color: #9b59b6; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}
@-moz-keyframes color {
     0% { background-color: #f1c40f; }
    32% { background-color: #e74c3c; }
    55% { background-color: #9b59b6; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}
@keyframes color {
  0% { background-color: #f1c40f; }
    32% { background-color: #e74c3c; }
    55% { background-color: #9b59b6; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}

label{
	color: #f1f1f1;
	font-size: 2.5vh;
}

.box{
	width: 50vh;
	height: 50vh;
	min-height: 30vh;
	background: rgba(255, 255, 255, 0.5);
	padding: 0px;
	margin: auto;
	left:37.5%;
	right:37.5%;
	top:37.5%;
	bottom:37.5%;
	border: .4vh solid linear-gradient(90deg,  #4682B4, #00FFFF, #00FA9A);
	border-radius: 3vh;
	/*display: flex;
	flex-direction: column;*/
	/*justify-content: center;*/
}

.boxInput{
	width: 50vh;
	height: 25vh;
	min-height: 20vh;
	/*background: rgba(255, 255, 255, 0.5);*/
	padding: 3vh 0 0 0;
	/*margin: auto;*/
	left:37.5%;
	right:37.5%;
	top:37.5%;
	bottom:37.5%;
	/*border: .4vh solid red;*/
	border-radius: 3vh 3vh 0 0;
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
}

.inputNilaiAwal{
	width: 40vh;
	max-width: 40vh;
	height: 4vh;
	border-radius: 3vh;
	padding: 0 0 0 1.5vh;
	margin: 1vh 0 0 0;
	font-size: 2.5vh;
}

.inputNamaInduknya{
	width: 40vh;
	height: 4vh;
	border-radius: 3vh;
	padding: 0 0 0 1.5vh;
	margin: 1vh 0 0 0;
	font-size: 2.5vh;
}

.inputNamaHewan{
	margin: 1vh 0 0 0;
}

.buttonSubmit{
	width: 20vh;
	height: 4.5vh;
	border-radius: 3vh;
	border: 0;
	background: #00EF03;
	color: #ffffff;
	align-content: center;
	font-size: 2.5vh;
	margin: 3vh 0 0 0;
}

.buttonReset{
	width: 20vh;
	height: 4.5vh;
	border-radius: 3vh;
	border: 0;
	background: #ff0e0a;
	color: #ffffff;
	align-content: center;
	font-size: 2.5vh;
	margin: 3vh 0 0 0;
}

.boxWarning{
	/*background: red;*/
	padding: 0vh 0 0 0;
	height: 17vh;
	color: red;
	font-size: 2.5vh;
}

.boxPowered{
	/*background: cyan;*/
	height: 5vh;
	border-radius: 0 0 3vh 3vh;
	color: grey;
	font-size: 2.5vh;
	/*display: flex;
	flex-direction: column;
	justify-content: center;*/
}

.boxResult{
	/*overflow: auto;*/
	background: white;
	width: 70vh;
	height: 50vh;
	min-height: 30vh;
	background: rgba(255, 255, 255, 0.5);
	padding: 0px;
	margin: auto;
	left:37.5%;
	right:37.5%;
	top:37.5%;
	bottom:37.5%;
	border: .4vh solid #7F7F7F;
	/*border-radius: 3vh;*/
	/*display: flex;
	flex-direction: column;
	justify-content: center;*/
}

.headerResult{
	width: 69.95vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: cyan;
	border-bottom: .4vh solid darkcyan;
	/*border-top-left-radius: 3vh;*/
	padding: 0 0 1vh 0;
}
.textResult{
	font-family: arial;
	font-weight: bold;
	font-size: 2.5vh;
}

.textJumlahHewan{
	font-family: arial;
	font-size: 2vh;
}

.result{
	padding: 1vh 0 0 0;
	height: 37.6vh;
	overflow: auto;
	display: flex;
	justify-content: center;
	font-size: 2.5vh;
}